.containerProd{
    border: 1px solid rgba(255, 255, 255, 0.822);
    height: 600px;
    width: 800px;
    padding-top: 40px;
    background-color: #fff;
    border-radius: 15px;
    img{
        height: 340px;
        
    }
    .prodDetalles{
        h3{
            font-size: 22px;
        }
        p{
            font-weight: lighter;
            font-size: 15px;
        }
        span{
            font-weight: bold;
        }
    }
}