.article{

    width: 320px;
    height: 480px;
    margin: 10px 5px;
    padding: 15px;
    header{
        h2{
            font-size: 20px;
        }
    }
    picture{
        display: inline-block;
        height: 350px;
        width: 280px;


        img{
            object-fit:cover;
            height: 100%;
            width: 100%;
            
        }
    }
    section{
        
        p{
            font-weight: 600;
        }
    }
    footer{
        margin-top: 15px;
        a{
            color: aliceblue;
            text-decoration: none;
            background-color: blueviolet;
            border-radius: 5px;
            padding: 8px 15px;
        }
    }
}