.prodContainer{
    height: 540px;
    width: 350px;
    margin-bottom: 50px;
    border: 1px solid rgba(255, 255, 255, 0.833);
    border-radius: 15px;
    background-color: #fff;
    padding: 10px;
    img{
        object-fit: contain;
        width: 260px;
        height: 380px;
    }
    .prodDetalles{
        h4{
            font-size: 20px;
        }
        p{
            font-size: 15px;
            span{
                font-weight: bolder;
            }
            
        }
        p:nth-child(3){
            color: rgba(50, 50, 50, 0.622);
            margin-bottom: 18px;
        }
        a{
            background-color: blueviolet;
            text-decoration: none;
            color: aliceblue;
            padding: 5px 35px;
            border-radius: 20px;
        }
    }
}