.article{
    width: 320px;
    height: 517px;
    margin: 10px 5px;
    padding: 15px;
    border: 1px solid rgb(195, 194, 194);
    border-radius: 8px;
    background: #fff;
    header{
        text-align: center;
        h2{
            font-size: 20px;
        }
    }
    picture{
        display: inline-block;
        height: 350px;
        width: 280px;
        margin-top: 10px;

        img{
            object-fit:contain;
            height: 100%;
            width: 100%;
            
        }
    }
    section{
        p{
            font-weight: 600;
        }
        .stock{
            font-size: 13px;
            color: gray
        }
    }
    footer{
        margin-top: 15px;
        a{
            color: aliceblue;
            text-decoration: none;
            background-color: blueviolet;
            border-radius: 5px;
            padding: 4px 50px;
        }
    }
}