.containerCount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controls{
    display: flex;
    margin-bottom: 5px;
    button{
        cursor: pointer;
        background-color: blueviolet;
        color:aliceblue;
        border-radius: 10px;
        height: 24px;
        width: 40px;
        margin: 0 30px;
        font-size: 15px;
        margin-bottom: 5px;
    }
    h4{
        font-size: 15px;
    }
}

.addToCart{
    margin-top: 5px;
    cursor: pointer;
    background-color: blueviolet;
    color:aliceblue;
    border-radius: 10px;
    height: 45px;
    width: 255px;
    font-weight:bold;
    letter-spacing: 1px;
        
}