.container{
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    .productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 40px 30px;
    }
}